body {
  margin: 0;
  font-family: openSans-Regular;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--layout_color) !important;
  background: var(--login_bg);
  /* background: linear-gradient(
    360deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(232, 248, 255, 1) 88%
  ); */
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#root,
.app-container,
.auth-container {
  height: inherit;
  overflow: auto;
}
  


/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}


